.SidebarRow {
  /* border: 1px solid black; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.SidebarRow:hover {
  /* border: 1px solid black; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: rgb(174, 247, 159);
}

.SidebarRowIcon {
  flex: 30%;
  text-align: center;
}

.SidebarRowTitle {
  flex: 70%;
  text-align: left;
  font-size: large;
}