.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

input {
    margin-top: 2px;
}

.frame {
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}